@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>list of files</h2><br />
    <h4>@Html.Raw(ViewData["sb"].ToString())</h4><br />
    <h2>sampleconfig value</h2><br />
    <h2>@Html.Raw(ViewData["sampleconfig"].ToString()) </h2>
</div>
